<p id="notice"><%= notice %></p>

<p>
  <strong>Design name:</strong>
  <%= @design.Design_name %>
</p>

<p>
  <strong>Design suittype:</strong>
  <%= @design.Design_suittype %>
</p>
<p>
  <strong>
    Design suit Size:
  </strong>
  <%= @design.size%>
</p>

<p>
  <strong>
    Desing Suit Parts
  </strong>
  <%=@design.parts%>
</p>

<%= link_to 'Edit', edit_design_path(@design) %>
|
<%= link_to 'Back', designs_path %>
