<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @master_employe.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @master_employe.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @master_employe.address %>
</p>

<%= link_to 'Edit', edit_master_employe_path(@master_employe) %> |
<%= link_to 'Back', master_employes_path %>
