<%= form_with(model: employe, local: true) do |form| %>
  <% if employe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employe.errors.count, "error") %> prohibited this employe from being saved:</h2>

      <ul>
      <% employe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employe_name %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :employe_mobile %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :employe_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
