<h1>Home#index</h1>
<%= link_to " Size", master_sizes_path%><br>
<%= link_to " Type", master_varieties_path%><br>
<%= link_to " Serial number", master_typenumbers_path %><br>
<%= link_to " Color", master_colors_path %><br>
<%= link_to " Design", designs_path %><br>
<%= link_to " Order", orders_path%><br>
