<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :design %>
    <%= form.collection_select(:design, Design.all,:Design_name,:Design_name,id: :order_design,prompt: "Choose the design")%>
  </div>

  <div class= "field">
    <%= form.label :color %>
    <%= form.collection_select(:color, Master::Color.all,:colorname,:colorname, prompt: "choose the color",class: "colors")%>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :order_quantity %>
  </div>

  <div class="field">
    <%= form.label :lotnumber %>
    <%= form.collection_select(:lotnumber, Master::Yarn.all, :Lotnumber,:Lotnumber,prompt: "Select the Yarn")%>
  </div>

  <div class= "field">
    <%= form.label :consumption %>
    <%= form.text_field :consumption, id: :order_consumption%>
  </div>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
