<div class="nested-fields">
  <div class="field">
    <%= form.label :size %>
    <%= form.collection_select(:size,Master::Size.all,:size,:size) %>
  </div>
  <div class="field">
    <%=form.label :quantity %>
    <%=form.number_field :quantity %>
  </div>
  <div class="field">
    <%=form.label :color %>
    <%= form.collection_select(:color,Master::Color.all,:colorname,:colorname) %>
  </div>
  <div class= "field">
    <%= form.label :piece%>
    <%= form.collection_select(:piece, Master::Variety.all,:variety,:variety) %>
  </div>


</div>
