<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Design</th>
      <th>Quantity</th>
      <th>Color</th>
      <th>Lot Number </th>
      <th>Estimated Consumption</th>
      <th>Serial number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.design %></td>
        <td><%= order.quantity %></td>
        <td><%= order.color %></td>
        <td><%= order.lotnumber %></td>
        <td><%= order.consumption %></td>
        <td><%= order.number%></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
