<p id="notice"><%= notice %></p>

<p>
  <strong>Order number</strong>
  <%= @order.id %>
<p>
  <strong>Design:</strong>
  <%= @order.design %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order.color%>
</p>

<p>
  <strong>Lotnumber:</strong>
  <%= @order.lotnumber%>
</p>

<p>
  <strong>Estimated consumption</strong>
  <%= @order.consumption %>
</p>

<p>
  <strong> Serial Number</strong>
  <%= @order.number %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
