<%= form_with(model: sizemaster, local: true) do |form| %>
  <% if sizemaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sizemaster.errors.count, "error") %> prohibited this sizemaster from being saved:</h2>

      <ul>
      <% sizemaster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_area :size, id: :sizemaster_size %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
