<p id="notice"><%= notice %></p>

<p>
  <strong>Suit type:</strong>
  <%= @type.suit_type %>
</p>

<p>
  <strong>Start limit:</strong>
  <%= @type.start_limit %>
</p>

<p>
  <strong>End limit:</strong>
  <%= @type.end_limit %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
